lib/*.o
output/*
mitos
*.hdf5
parser/*.o
analyse/mitos_read
analyse/mitos_box
analyse/mitos_cross_spec
analyse/mitos_profiles
analyse/mitos_mesh_profiles
analyse/mitos_render
analyse/mitos_gauss_purifier
analyse/mitos_vel3
analyse/mitos_half_read
